
@{
    ViewData["Title"] = "Wardrobe";
}
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">@ViewData["Title"]</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/top.webp" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/UMA201M806-01_1_800_800px.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/top.webp" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/UMA201M806-01_1_800_800px.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/top.webp" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/UMA201M806-01_1_800_800px.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/top.webp" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/UMA201M806-01_1_800_800px.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/top.webp" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/UMA201M806-01_1_800_800px.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="">
            </a>
        </div>
    </div>
</div>