
@{
    ViewData["Title"] = "Following";
}

<h1>Following</h1>

<div class="container">
    <p class="text-right text-muted">
        Count: (somenumber)
    </p>
    <div class="row ">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-danger">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-danger">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-danger">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>