@model FollowViewModel
@{
    ViewData["Title"] = "Following";
}

<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0 text-light">@ViewData["Title"]</h1>

<hr class="mt-2 mb-5 bg-light">

<div class="container">
    <p class="text-right text-muted">
        count: @Model.Profiles.Count
    </p>
    <div class="row ">
        @if (Model.Profiles.Count == 0)
        {
            <div class="w-100">
                <p class="text-center mt-5 text-light">
                    No following profiles yet.
                </p>
            </div>
        }
        else
        {
            @foreach (var item in Model.Profiles)
            {
                <div class="col">
                    <div class="card text-white bg-light mb-3" style="width: 18rem;">
                        @if (item.ProfilePictureUrl != null)
                        {
                            <a href="/User/Profile?id=@item.Id">
                                <img src="@item.ProfilePictureUrl" class="img-fluid">
                            </a>
                        }
                        else
                        {
                            <a href="/User/Profile?id=@item.Id">
                                <img src="https://st2.depositphotos.com/1032921/5237/v/600/depositphotos_52374307-stock-illustration-blue-profile-icon.jpg" class="img-fluid">
                            </a>
                        }
                        <div class="card-body text-center">
                            <h5 class="text-dark">@item.Profile</h5>
                            <div class="text-center">
                                @if (item.IsFollowed == false)
                                {
                                    <a class="btn btn-danger" href="/Home/Follow?FollowId=@item.ProfileId&&url=/Friends/Followers">Follow</a>
                                }
                                else
                                {
                                    <a class="btn btn-dark">Following</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>