@{
    ViewData["Title"] = "FriendRequests";
}

<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">@ViewData["Title"]</h1>
    <p class="text-right text-muted">
        Count: (somenumber)
    </p>
    <hr class="mt-2 mb-5">
    
    <div class="row ">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-success"></button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img src="/images/top.webp" class="card-img-top" alt="This image can't be loaded">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                    <div class="text-center">
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>