@model FriendRequestViewModel
@{
    ViewData["Title"] = "FriendReqests";
}
 
<h1>FriendReqests</h1>
<h5 class="text-muted">Count: (someNumber)</h5>
<div class="container">
    @foreach (var item in Model.Request)
    {
        <div class="alert alert-primary" role="alert">
            <h3>
                @item.UserName
            </h3>
        </div>
    }
</div>
