@{
    ViewData["Title"] = "Home Page";
}

<!--if (User.Identity.IsAuthenticated)
{-->
<!--}-->
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-primary btn-lg w-100 h-100">BACK</button>
        </div>
        <div class="col text-center">
            <img class="w-75" src="/images/top.webp" alt="There was a problem to load this image" />
            <img class="w-75" src="/images/UMA201M806-01_1_800_800px.jpg" alt="There was a problem to load this image" />
            <img class="w-75" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="There was a problem to load this image" />
        </div>
        <div class="col text-center">
            <button class="btn btn-primary btn-lg w-100 h-100">NEXT</button>
        </div>
    </div>

<!--<h1 class="text-center">Edit profile</h1><div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>tekt koito 6e posre6ta user-a </a>.</p>
</div>-->
