@{
    ViewData["Title"] = "Home Page";
}

<!--if (User.Identity.IsAuthenticated)
{-->
<!--}-->
<html lang="en">
<body>
    <div class="row">
        <div class="col-sm"><button width="100%" height="100%"><img src="" alt="Left" /></button></div>
        <div class="col-sm">
            <img src="/images/Profile.png" class="align-top" alt="There was a problem to load this image" />
            <img src="/images/Profile.png" class="align-middle" alt="There was a problem to load this image" />
            <img src="/images/Profile.png" class="align-bottom" alt="There was a problem to load this image" />
        </div>
        <div class="col-sm"><button width="100%" height="100%"><img src="" alt="Right" /></button></div>
    </div>
</body>


<!--<h1 class="text-center">Edit profile</h1><div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>tekt koito 6e posre6ta user-a </a>.</p>
</div>-->
