@model SearchResultViewModel
@{
    ViewData["Title"] = "Search";
    // TODO: Hover effect on the cards
}
<div class="row">

    @if (Model.Users.Count == 0)
    {
        <h5 class="mt-4 text-light">No search result</h5>
    }
    @foreach (var item in Model.Users)
    {
        <div class="col">
            <div class="card text-white bg-light mb-3" style="width: 18rem;">
                @if (item.ProfilePictureUrl != null)
                {
                    <a href="/User/Profile?Id=@item.Id">
                        <img src="@item.ProfilePictureUrl" class="img-fluid">
                    </a>
                }
                else
                {
                    <a href="/User/Profile?Id=@item.Id">
                        <img src="https://st2.depositphotos.com/1032921/5237/v/600/depositphotos_52374307-stock-illustration-blue-profile-icon.jpg" class="img-fluid">
                    </a>
                }
                <div class="card-body text-center">
                    <h5 class="text-dark">@item.Profile</h5>
                    <div class="mt-4">
                        <table class="w-100">
                            <tr>
                                <td class="w-50">
                                    @if (item.IsFollowed == false)
                                    {
                                        <a class="btn btn-danger w-100" href="/Home/Follow?FollowId=@item.ProfileId&&url=@Model.Search">Follow</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark w-100">Following</a>
                                    }
                                </td>
                                <td class="w-50">
                                    <h6 class="text-dark text-right text-muted align-bottom">Followers <span class="badge badge-secondary">@item.Followers</span></h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     }
    </div>