@model SearchResultViewModel
@{
    ViewData["Title"] = "Search";
}
<div class="row">

    @if (Model.Users.Count == 0)
    {
        <h5 class="mt-4 text-light">No search result</h5>
    }
    @foreach (var item in Model.Users)
    {
        <div class="col">
            <div class="card text-white bg-light mb-3" style="width: 18rem;">
                @if (item.ProfilePictureUrl != null)
                {
                    <a href="/User/Profile?Id=@item.Id">
                        <img src="@item.ProfilePictureUrl" class="img-fluid">
                    </a>
                }
                else
                {
                    <a href="/User/Profile?Id=@item.Id">
                        <img src="https://st2.depositphotos.com/1032921/5237/v/600/depositphotos_52374307-stock-illustration-blue-profile-icon.jpg" class="img-fluid">
                    </a>
                }
                <div class="card-body text-center">
                    <h5 class="text-dark">@item.Profile</h5>
                    <div class="text-center">
                        @if (item.IsFollowed == false)
                        {
                            <a class="btn btn-danger" href="/Home/Follow?FollowId=@item.ProfileId&&url=@Model.Search">Follow</a>
                        }
                        else
                        {
                            <a class="btn btn-dark">Following</a>
                        }
                    </div>
                </div>
            </div>
        </div>
     }
    </div>
<script>
    function follow() {

    }
</script>