@model WardrobeViewModel
@{
    ViewData["Title"] = "Wardrobe";
}
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">@ViewData["Title"]</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        @foreach (var item in Model.Wears)
        {
            <div class="col-lg-3 col-md-4 col-6">
                <div class="dropdown">
                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-fluid img-thumbnail" src="@item.ImageUrl" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-danger" href="/Wardrobe/DeleteWear?id=@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
        <div class="col-lg-3 col-md-4 col-6">
            <a class="d-block mb-4 h-100" asp-controller="Wardrobe" asp-action="AddWear">
                <img class="img-fluid img-thumbnail" src="/images/plus.png" style="opacity:0.2">
            </a>
        </div>
    </div>
</div>