
@{
    ViewData["Title"] = "Feed";
}

<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0  text-light">@ViewData["Title"]</h1>

<hr class="mt-2 mb-5 bg-light">
    <div class="col-sm-8 mx-auto">
        <div class="card ">
            <div class="card-header">
                <div class="d-flex">
                    <div class="p-2">
                        <a class="text-dark" href="">
                            <img src="https://st2.depositphotos.com/1032921/5237/v/600/depositphotos_52374307-stock-illustration-blue-profile-icon.jpg" width="70px" class="img-fluid rounded-circle">
                            <span class="ml-1">
                                Inan
                            </span>
                        </a>
                    </div>
                    <div class="p-4 ml-auto align-content-center">
                        <a class="btn btn-danger" href="/Home/Follow?FollowId=&&url=/Friends/Followers">Follow</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <img class="w-25 rounded mx-auto d-block" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="There was a problem to load this image" />
                    </div>
                    <div class="row">
                        <img class="w-25 rounded mx-auto d-block" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="There was a problem to load this image" />
                    </div>
                    <div class="row">
                        <img class="w-25 rounded mx-auto d-block" src="/images/мъжко-светлосиво-долнище-пролет-лято-lux_2431.jpg" alt="There was a problem to load this image" />
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                2 days ago
            </div>
        </div>
    </div>